.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-between;
    width: 20px;
}

.dot {
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    opacity: 0.15;
    animation-name: pulse;
    animation-iteration-count: infinite;
    animation-duration: .8s;
    background-color: #000;
}

.dot:nth-child(2) {
    animation-delay: 0.1s;
}

.dot:nth-child(3) {
    animation-delay: 0.2s;
}

* {
    box-sizing: border-box;
}

html,
body,
div,
span,
p,
a,
img,
i,
form,
label,
footer,
header {
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-size: 100%;
    vertical-align: baseline;
}

footer,
header {
    display: block;
}
 
body {
    line-height: 18px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    padding-bottom: 40px;
}
p{
    padding: 5px 0px;
 }
.loader {
    display: none;
}

.hTXyZr {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: end;
    justify-content: flex-end;
    height: 60px;
    padding: 0px 30px;
    background-color: rgb(236, 236, 238);
    box-shadow: rgba(0, 0, 0, 0.17) 0px 2px 7px 0px;
}

.cpOYPG {
    margin-right: 10px;
}

.hbyzzN {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px;
    font-size: 12px;
}

.fPkDMs {
    color: rgb(61, 118, 185);
    text-decoration: none;
}

.fPkDMs:hover {
    color: rgb(48, 92, 144);
}

.dAZhcd {
    margin-left: 10px;
}

.dAZhcd>a {
    margin: 0px 10px;
    color: rgb(61, 118, 185);
}

.dAZhcd>a:hover {
    text-decoration: none;
}

.iApbYG {
    display: block;
    user-select: none;
    width: 200px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 320px) {
    .iApbYG {
        width: 140px;
    }
}

.jIpyka {
    display: inline-flex;
    max-width: 100%;
    width: 100%;
    flex-direction: column;
    -webkit-box-pack: end;
    justify-content: flex-end;
    position: relative;
    height: 68px;
}

.jxLAT {
    outline: 0px;
    border-width: 0px 0px 1px;
    border-top-style: initial;
    border-right-style: initial;
    border-left-style: initial;
    border-top-color: initial;
    border-right-color: initial;
    border-left-color: initial;
    border-image: initial;
    height: 38px;
    width: 100%;
    font-size: 14px;
    color: rgb(51, 51, 60);
    border: 1px solid #CACFD3;
    border-radius: 8px
}

.jBAAej {
    position: absolute;
    display: flex;
    align-items: flex-end;
    top: 12px;
    height: 36px;
    color: rgb(97, 97, 106);
    font-weight: 500;
    font-size: 12px;
    transition: top 0.15s ease-out 0s;
    user-select: none;
    cursor: text;
}

.bxubDE {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    user-select: none;
    color: rgb(132, 132, 139);
}

.kFPdwr {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 20vw;
    animation: 0.2s ease-in-out 0s 1 normal none running eMLfYp;
}

.jaHTXm {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 30px;
}

.xzcRZ {
    margin-bottom: 10px;
}

.gPtJgO {
    color: rgb(61, 118, 185);
    text-decoration: none;
    font-size: 14px;
}

.gPtJgO:hover {
    color: rgb(48, 92, 144);
}

.iQKfMG {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.iQKfMG .sc-jKJlTe {
    font-size: 12px;
}

.chXnfj {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.drEhZp {
    width: 384px;
}

.kLECzY {
    margin: 10px 0px;
}

.hMwApc {
    font-size: 11px;
    color: rgb(62, 62, 73);
    width: 384px;
}

.bBsnzv {
    color: rgb(61, 118, 185);
    padding-left: 3px;
    text-decoration: none;
}

.bBsnzv:hover {
    color: rgb(48, 92, 144);
}

.feZNLG {
    margin-left: 3px;
}

.bqJkQa {
    margin-bottom: 5px;
    color: rgb(97, 97, 106);
    font-size: 12px;
    font-weight: 500;
}

.fusulQ {
    margin-bottom: 5px;
    width: 384px;
}

.bDzGcN {
    margin-left: 3px;
}

.cIUDWQ {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 1 1 0%;
    padding: 20px 10px;
}

.eVigII {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-top: 15vh;
    -webkit-box-flex: 1;
    flex-grow: 1;
    width: 100%;
    max-width: 420px;
    margin: 0 auto;
    padding: 0px 30px;
}

@media (max-width: 375px) {
    .eVigII {
        width: 300px;
        margin-top: 5vh;
    }
}

@media (max-width: 320px) {
    .eVigII {
        width: 300px;
    }
}

.cnxHgy {
    display: flex;
    font-size: 18px;
    font-weight: 300;
    padding: 20px 0px 30px;
    user-select: none;
    color: rgb(167, 167, 172);
}

@media (max-width: 320px) {
    .cnxHgy {
        font-size: 14px;
    }
}

.jFlzmB {
    position: absolute;
    overflow-y: auto;
    top: 0px;
    left: 0px;
    right: 0px;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.kFfNqn {
    display: flex;
    flex: 1 1 0%;
}

.K3TX2EnGEDIGIEiEIo_0X {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 33px;
    outline: 0;
    border: 0;
    border-radius: 2px;
    vertical-align: middle;
    text-decoration: none;
    text-transform: uppercase;
    font-family: inherit;
    cursor: pointer;
    padding: 0;
}

.K3TX2EnGEDIGIEiEIo_0X>* {
    text-decoration: none;
    user-select: none;
}

.K3TX2EnGEDIGIEiEIo_0X:disabled {
    cursor: not-allowed;
}

._3axrJUuPR6Tfk-J1aQF4dm {
    position: relative;
    z-index: 2;
    padding: 0 18px;
    display: flex;
    align-items: center;
    font-size: 12px;
    text-decoration: none;
    line-height: 34px;
    max-width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media only screen and (max-width:767px) {
    ._3axrJUuPR6Tfk-J1aQF4dm {
        top: 1px;
    }
}

._1pFgCebzxXEI3gItBe_863 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 33px;
    height: 33px;
}

._1pFgCebzxXEI3gItBe_863>svg {
    position: relative;
    z-index: 2;
}

._1pFgCebzxXEI3gItBe_863+._3axrJUuPR6Tfk-J1aQF4dm {
    padding: 0 18px 0 14px;
}

._3-Xcfgk4YnBeM0kgvmZfs_ {
    background-color: #3d76b9;
    color: #fff;
}

._3-Xcfgk4YnBeM0kgvmZfs_ ._3kiCWIsiMrRqCXneU8Asq6 {
    position: absolute;
    border-radius: 100%;
    background-color: #7fa7d4;
    transform: scale(0);
}

._3-Xcfgk4YnBeM0kgvmZfs_ ._1pFgCebzxXEI3gItBe_863 {
    background-color: #35669f;
}

._3-Xcfgk4YnBeM0kgvmZfs_ ._1pFgCebzxXEI3gItBe_863>svg {
    color: #fff;
}

._3-Xcfgk4YnBeM0kgvmZfs_:disabled {
    background-color: #8bb8ec;
    color: #cde0f7;
}

._3-Xcfgk4YnBeM0kgvmZfs_:disabled ._1pFgCebzxXEI3gItBe_863 {
    background-color: #8bb8ec;
}

._3-Xcfgk4YnBeM0kgvmZfs_:disabled ._1pFgCebzxXEI3gItBe_863>svg {
    color: #cde0f7;
}

._1q1YDBKhjzRspY4va-DRI4 {
    overflow-y: scroll;
    width: calc(100% + 17px);
    flex-grow: 1;
}

._15fu8tliQjoFX_txAhIwyW {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex-grow: 1;
}

._2JZmjKGweSe3VKt76UWHXO {
    width: 230px;
    max-height: 90vh;
    position: fixed;
    right: 15px;
    z-index: 1999;
    top: 15px;
    display: flex;
    flex-direction: column;
}

._24Sdpdb7tKbUjJcti0bPnh {
    display: inline-flex;
    align-items: center;
    height: 22px;
    line-height: 22px;
    padding: 0 3px;
}

._24Sdpdb7tKbUjJcti0bPnh>input {
    width: 14px;
    height: 14px;
    outline: 0;
    vertical-align: middle;
}

._24Sdpdb7tKbUjJcti0bPnh>input:disabled+label {
    cursor: not-allowed;
}

._24Sdpdb7tKbUjJcti0bPnh>input:disabled+label>._19KU9ICo0Eb0R2seYqKsCW {
    color: #a7a7ac;
}

._24Sdpdb7tKbUjJcti0bPnh>input:disabled+label:after {
    background-color: #cacacd;
}

._24Sdpdb7tKbUjJcti0bPnh>input:disabled+label:before {
    background-color: #efeff0;
}

._24Sdpdb7tKbUjJcti0bPnh>input:checked+label:after {
    opacity: 1;
    background-color: #61616a;
    left: 16px;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

._24Sdpdb7tKbUjJcti0bPnh>input:checked+label:before {
    background-color: #cacacd;
}

._24Sdpdb7tKbUjJcti0bPnh>input:not(checked) {
    position: absolute;
    opacity: 0;
}

._24Sdpdb7tKbUjJcti0bPnh>input:not(checked)+label {
    position: relative;
    padding: 0 0 0 42px;
    cursor: pointer;
}

._24Sdpdb7tKbUjJcti0bPnh>input:not(checked)+label:after {
    content: '';
    position: absolute;
    top: 1px;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eee;
    transition: all .1s ease-in;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

._24Sdpdb7tKbUjJcti0bPnh>input:not(checked)+label:before {
    position: absolute;
    left: 0;
    top: 4px;
    width: 36px;
    height: 14px;
    background-color: #cacacd;
    border-radius: 11px;
    content: '';
    transition: all .3s ease;
}

._19KU9ICo0Eb0R2seYqKsCW {
    color: #3e3e49;
    user-select: none;
    position: relative;
    top: 1px;
    font-size: .95em;
}

._35iQwZ_AuaFmdI_kBnReo_>input:checked+label:after {
    background-color: #3d76b9;
}

._35iQwZ_AuaFmdI_kBnReo_>input:checked+label:before {
    background-color: #cde0f7;
}

._35iQwZ_AuaFmdI_kBnReo_>input:disabled:not(checked)+label:after {
    background-color: #cde0f7;
}

._35iQwZ_AuaFmdI_kBnReo_>input:disabled:not(checked)+label:before {
    background-color: #e6f0fb;
}

._35iQwZ_AuaFmdI_kBnReo_>input:disabled:checked+label:after {
    background-color: #acccf1;
}

._35iQwZ_AuaFmdI_kBnReo_>input:disabled:checked+label:before {
    background-color: #cde0f7;
}

.css-1ed4bhs {
    padding: 0px 20px 0px 0px;
    width: 280px;
    word-break: break-word;
}

.css-l9drzq {
    height: auto;
}

.css-7c2d00::after {
    left: 4px !important;
    top: 5px !important;
}

.fLnJSC {
    position: absolute;
    display: flex;
    align-items: flex-end;
    top: -8px;
    height: 36px;
    color: rgb(97, 97, 106);
    font-weight: 500;
    font-size: 12px;
    transition: top 0.15s ease-out 0s;
    user-select: none;
    cursor: text;
}

@keyframes pulse {

    0%,
    48% {
        opacity: 0.2;
    }

    24% {
        opacity: 0.8;
    }
}


.main-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 12px 20px;
    background: rgba(255, 255, 255, 0.95);
    font-size: 12px;
    z-index: 1000;
    color: #777777;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.06);
}

.main-footer a {
    color: #555555;
    text-decoration: none;
    transition: color 0.2s ease;
}

.main-footer a:hover {
    color: #333333;
}

.col-4 {
    padding: 30px !important;
    overflow-y: auto;
    position: relative;
    min-height: 100vh;
    padding-bottom: 60px !important;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.col-4::-webkit-scrollbar {
    display: none;
}

.col-8 {
    padding: 0 !important;
}

.instruc {
    padding: 15px 0;
    color: #333333;
}

.newdiv {
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}